.services {
  padding: 40px 0 70px;
  background-color: $light;


  &__title {
    display: block;
    margin: 0 auto;
    max-width: 613px;
    margin-bottom: 75px;

    @include breakpoint($tablet-bp) {
      margin-bottom: 55px;
    }

    @include breakpoint($mobile-bp) {
      margin-bottom: 40px;
    }
  }

  &__btn {
    border: none;
    padding: 0;
    font-size: 0;
    color: transparent;
  }

  &__items {
    display: grid;
    grid-gap: 65px 90px;

    grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
    grid-template-rows: repeat(2, 1fr);

    @include breakpoint($tablet-bp) {
      grid-gap: 50px 70px;
    }

    @include breakpoint($mobile-bp) {
      grid-gap: 40px 60px;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }

  &__article {
    display: flex;
    flex-direction: column;

    &:hover {

      .services__heading {
        color: $accent;
      }
    }
  }

  &__item {
    padding: 10px;

    transition: box-shadow 0.3s linear;

    &:hover {
      box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    }
  }

  &__svg {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-bottom: 20px;

    @include breakpoint($mobile-bp) {
      margin-bottom: 24px;
    }

    use {
      fill: none;
    }
  }

  &__heading {
    max-width: 220px;
    margin-bottom: 10px;

    @extend %ubuntu-500;
    font-size: 25px;
    letter-spacing: -0.04em;

    transition: color 0.3s linear;

    @include breakpoint($tablet-bp) {
      font-size: 20px;
    }
  }

  &__text {
    @extend %ubuntu-300;
    font-size: 16px;
    line-height: 1.8;

    @include breakpoint($tablet-bp) {
      font-size: 14px;
    }

  }
}